.collapse-enter {
  overflow: hidden;
  height: 0;
}
.collapse-enter-active {
  height: auto;
  transition: height 350ms ease-in-out;
}
.collapse-exit {
  height: auto;
}
.collapse-exit-active {
  height: 0;
  transition: height 350ms ease-in-out;
}